@import "~@angular/material/theming";
@import "colours";

// Only include this once, no where else
@include mat-core();

// $mat-color, $default: 500, $lighter: 100, $darker: 700
$core-primary: mat-palette($mat-blue);
$core-accent: mat-palette($mat-orange);
$core-warn: mat-palette($mat-red);

$core-light-theme: mat-light-theme($core-primary, $core-accent, $core-warn);

// **** dark theme **************************
$core-dark-primary: mat-palette($core-charcoal);
$core-dark-accent: mat-palette($mat-yellow);
$core-dark-warn: mat-palette($mat-red);

$core-dark-theme: mat-dark-theme($core-dark-primary, $core-dark-accent, $core-dark-warn);

.core-light {
  @include angular-material-theme($core-light-theme);
}

.core-dark {
  @include angular-material-theme($core-dark-theme);
}
