@import "~@angular/material/theming";
@import "colours";

$custom-typography: mat-typography-config(
  $font-family: 'Helvetica, Arial, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

/* Alternatives to injecting into mat-core */
// @include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
// @include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
// @include angular-material-typography($custom-typography);


// Only include this once, no where else
@include mat-core($custom-typography);

// $mat-color, $default: 500, $lighter: 100, $darker: 700
$core-primary: mat-palette($core-redbrick);
$core-accent: mat-palette($mat-orange);
$core-warn: mat-palette($mat-red);

$core-light-theme: mat-light-theme($core-primary, $core-accent, $core-warn);

// **** dark theme **************************
$core-dark-primary: mat-palette($mat-brown);
$core-dark-accent: mat-palette($mat-yellow);
$core-dark-warn: mat-palette($mat-red);

$core-dark-theme: mat-dark-theme($core-dark-primary, $core-dark-accent, $core-dark-warn);

.core-light {
  @include angular-material-theme($core-light-theme);
}

.core-dark {
  @include angular-material-theme($core-dark-theme);
}
