/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  font-size: 16px;
  width: 100%;
}

body { margin: 0; }

.spacer {
  flex: 1 1 auto;
}

.active {
  color: #bbf;
}

@mixin core-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  span > a {
    // color: mat-color($foreground, 'text');   // yes
    color: $light-primary-text;                 // yes
  }
}
@import "./assets/core-theme.scss";
@include core-theme($core-dark-theme);

@import "./assets/custom-material";
